In [2]:
import pandas as pd

In [3]:
adidas = pd.read_csv("adidas.csv")

In [5]:
adidas

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,source_website,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,https://www.adidas.com,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,https://www.adidas.com,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,https://www.adidas.com,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,https://www.adidas.com,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104

In [6]:
adidas.shape

(845, 20)

In [7]:
adidas.columns

Index(['url', 'name', 'sku', 'selling_price', 'original_price', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language',
       'average_rating', 'reviews_count', 'crawled_at'],
      dtype='object')

In [23]:
adidas.groupby(["availability", "category"], as_index = False).agg({"sku" : ["count"]})

  availability     category   sku
                            count
0      InStock  Accessories    82
1      InStock     Clothing   336
2      InStock        Shoes   424
3   OutOfStock     Clothing     1
4   OutOfStock        Shoes     2

In [65]:
levels = adidas.groupby(["availability"], as_index = False).agg({"sku" : ["count"]})

In [66]:
levels.columns = levels.columns.droplevel(1)

In [39]:
levels

  availability  sku
0      InStock  842
1   OutOfStock    3

In [40]:
levels['Percentage'] = levels['sku']/ adidas.shape[0]

In [41]:
levels

  availability  sku  Percentage
0      InStock  842     0.99645
1   OutOfStock    3     0.00355

In [42]:
adidas.drop(['availability'], axis=1)

,url,name,sku,selling_price,original_price,currency,color,category,source,source_website,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,Black,Clothing,adidas United States,https://www.adidas.com,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,Grey,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,White,Clothing,adidas United States,https://www.adidas.com,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,Black,Shoes,adidas United States,https://www.adidas.com,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,Blue,Clothing,adidas United States,https://www.adidas.com,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,White,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,White,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,Black,Shoes,adidas United States,https://www.adidas.com,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,Pink,Shoes,adidas United States,https://www.adidas.com,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,Black,Shoes,adidas United States,https://www.adidas.com,Women/Shoes,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104

In [45]:
adidas.columns

Index(['url', 'name', 'sku', 'selling_price', 'original_price', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language',
       'average_rating', 'reviews_count', 'crawled_at'],
      dtype='object')

In [68]:
levels1 = adidas.groupby(["category"], as_index = False).agg({"sku" : ["count"]})

In [70]:
levels1.columns = levels1.columns.droplevel(1)

In [72]:
levels1

      category  sku
0  Accessories   82
1     Clothing  337
2        Shoes  426

In [73]:
levels1['Percentage'] = levels1['sku']/ adidas.shape[0]

In [74]:
levels1

      category  sku  Percentage
0  Accessories   82    0.097041
1     Clothing  337    0.398817
2        Shoes  426    0.504142

In [75]:
levels1['category_t'] = 'Others'

In [76]:
levels1

      category  sku  Percentage category_t
0  Accessories   82    0.097041     Others
1     Clothing  337    0.398817     Others
2        Shoes  426    0.504142     Others

In [80]:
levels1['category_t'] = levels1.apply(lambda r: r['category'] if r ['Percentage'] > 0.39 else r['category_t'], axis = 1)

In [81]:
levels1

      category  sku  Percentage category_t
0  Accessories   82    0.097041     Others
1     Clothing  337    0.398817   Clothing
2        Shoes  426    0.504142      Shoes

In [82]:
levels1 = levels1.loc[ : , ["category","category_t"]]

In [83]:
levels1

      category category_t
0  Accessories     Others
1     Clothing   Clothing
2        Shoes      Shoes

In [85]:
adidas = adidas.merge(levels1, on = ["category"], how = "inner" )

In [86]:
adidas.groupby(["category_t"], as_index = False).agg({"sku" : ["count"]})

  category_t   sku
             count
0   Clothing   337
1     Others    82
2      Shoes   426

In [87]:
levels1.to_csv('new_categorys.csv')

In [88]:
adidas

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,...,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at,category_t
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,Clothing
1,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,...,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834,Clothing
2,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,...,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680,Clothing
3,https://www.adidas.com/us/adicross-hybrid-shor...,Adicross Hybrid Shorts,GM5505,80,NaN,USD,InStock,Black,Clothing,adidas United States,...,Men/Clothing,"On the golf course, comfort is an essential co...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,17,2021-10-23 17:50:17.860269,Clothing
4,https://www.adidas.com/us/tiro-21-windbreaker/...,Tiro 21 Windbreaker,GP4975,60,NaN,USD,InStock,Black,Clothing,adidas United States,...,Kids/Clothing,You can't always be a force of nature in socce...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,16,2021-10-23 17:50:17.942359,Clothing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/originals-sunglasses...,Originals Sunglasses OR0032,EX4821,112,$160,USD,InStock,Black,Accessories,adidas United States,...,Originals/Accessories,Timeless and easy. The iconic navigator shape ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,5.0,2,2021-10-23 17:52:25.094123,Others
841,https://www.adidas.com/us/r.y.v.-sling-pack/H3...,R.Y.V. Sling Pack,H32461,41,$58,USD,InStock,Black,Accessories,adidas United States,...,Originals/Accessories,"When you hear your dreams calling, answer them...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,5.0,9,2021-10-23 17:52:26.453979,Others
842,https://www.adidas.com/us/adidas-adventure-bal...,adidas Adventure Ball Cap,H13914,23,$32,USD,InStock,Blue,Accessories,adidas United States,...,Originals/Accessories,"The sun's out, so shouldn't you be too? Pack y...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,2,2021-10-23 17:52:28.529890,Others
843,https://www.adidas.com/us/r.y.v.-toploader-bac...,R.Y.V. Toploader Backpack,H32458,63,$90,USD,InStock,Black,Accessories,adidas United States,...,Originals/Accessories,"Because you appreciate the unconventional, thi...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,7,2021-10-23 17:52:28.613794,Others
844,https://www.adidas.com/us/jacquard-trefoil-cre...,Jacquard Trefoil Crew Socks 2 Pairs,H32424,12,$14,USD,InStock,White,Accessories,adidas United States,...,Originals/Accessories,Simple. Classic. A little bit unexpected. Pull...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,5.0,9,2021-10-23 17:52:30.597460,Others